@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
  box-sizing: border-box;
}
.body {
  margin: 0;
  padding: 0;
}
.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  background-color: #f2e205;
}


header {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3em;
}

header nav a {
  margin: 0 1em;
  font-size: 20px;
  color: black;
}

/* Home styling */

.site-title-wrapper {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-top: 10vh;
}

.site-title {
  font-family: 'Jaldi';
  font-size: 4.5rem;
  height: 50%;
}

.site-title p {
  margin: 0;
}

.site-slogan {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5rem;
}

.fa-clock {
  font-size: 2.6rem;
}


form {
  text-align: center;
  margin-top: 5vh;
  display: flex;
  flex-flow: column;
  font-family: 'Fira Sans', sans-serif;
}

.email-input, .email-input input, .password-input, .password-input input, .login-button {
  font-size: 1.6rem;
  margin: 5px;
}


/* 
button {
  text-align: center;
  margin: auto;
  display: flex;
  display: grid;
  padding: 0.2em 1em;
  border: 0;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
}

.portal {
  text-align: center;
  margin: auto;
  display: flex;
  display: grid;
}

a:link {
  text-decoration: none
}


input {
  width: 375px;
  height: 25px;
 } */